@charset "utf-8";
@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

html {
  height: 100%;
  overflow: visible;
  position: relative;
  width: 100%;
}

::-moz-selection, ::selection, ::-moz-selection {
  background-color: $color-primary;
  color: #fff;
}

body {
  background-color: #fafafa;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
  overflow: visible;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
}