a {
  color: #323232;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;

  &:hover {
    color: $color-primary;
    text-decoration: none;
    -webkit-transition: all 0.15s linear 0s;
    transition: all 0.15s linear 0s;
  }
}