
/*Dividers, margins and padding helpers*/
/* margins */
/*top&bottom equal margins - dividers*/

.my-10 {
  margin-bottom: 10px;
  margin-top: 10px;
}

.my-15 {
  margin-bottom: 15px;
  margin-top: 15px;
}

.my-20 {
  margin-bottom: 20px;
  margin-top: 20px;
}

.my-30 {
  margin-bottom: 30px;
  margin-top: 30px;
}

.my-40 {
  margin-bottom: 40px;
  margin-top: 40px;
}

.my-50 {
  margin-bottom: 50px;
  margin-top: 50px;
}

.my-60 {
  margin-bottom: 60px;
  margin-top: 60px;
}

/*left&right equal margins*/

.mx-10 {
  margin-left: 10px;
  margin-right: 10px;
}

.mx-15 {
  margin-left: 15px;
  margin-right: 15px;
}

.mx-20 {
  margin-left: 20px;
  margin-right: 20px;
}

.mx-30 {
  margin-left: 30px;
  margin-right: 30px;
}

.mx-40 {
  margin-left: 40px;
  margin-right: 40px;
}

.mx-50 {
  margin-left: 50px;
  margin-right: 50px;
}

.mx-60 {
  margin-left: 60px;
  margin-right: 60px;
}

/*top margins*/

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-60 {
  margin-top: 60px;
}

/*bottom margins*/

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-60 {
  margin-bottom: 60px;
}

/*top right bottom left margins*/

.m-10 {
  margin: 10px;
}

.m-15 {
  margin: 15px;
}

.m-20 {
  margin: 20px;
}

.m-30 {
  margin: 30px;
}

.m-40 {
  margin: 40px;
}

.m-50 {
  margin: 50px;
}

.m-60 {
  margin: 60px;
}

/* paddings */
/*top&bottom equal paddings - dividers*/

.py-10 {
  padding-bottom: 10px;
  padding-top: 10px;
}

.py-15 {
  padding-bottom: 15px;
  padding-top: 15px;
}

.py-20 {
  padding-bottom: 20px;
  padding-top: 20px;
}

.py-30 {
  padding-bottom: 30px;
  padding-top: 30px;
}

.py-40 {
  padding-bottom: 40px;
  padding-top: 40px;
}

.py-50 {
  padding-bottom: 50px;
  padding-top: 50px;
}

.py-60 {
  padding-bottom: 60px;
  padding-top: 60px;
}

/*left&right equal paddings*/

.px-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.px-15 {
  padding-left: 15px;
  padding-right: 15px;
}

.px-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.px-30 {
  padding-left: 30px;
  padding-right: 30px;
}

.px-40 {
  padding-left: 40px;
  padding-right: 40px;
}

.px-50 {
  padding-left: 50px;
  padding-right: 50px;
}

.px-60 {
  padding-left: 60px;
  padding-right: 60px;
}

/*top paddings*/

.pt-10 {
  padding-top: 10px;
}

.pt-15 {
  padding-top: 15px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-30 {
  padding-top: 30px;
}

.pt-40 {
  padding-top: 40px;
}

.pt-50 {
  padding-top: 50px;
}

.pt-60 {
  padding-top: 60px;
}

/*bottom paddings*/

.pb-10 {
  padding-bottom: 10px;
}

.pb-15 {
  padding-bottom: 15px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pb-60 {
  padding-bottom: 60px;
}

/*top right bottom left paddings*/

.p-10 {
  padding: 10px;
}

.p-15 {
  padding: 15px;
}

.p-20 {
  padding: 20px;
}

.p-30 {
  padding: 30px;
}

.p-40 {
  padding: 40px;
}

.p-50 {
  padding: 50px;
}

.p-60 {
  padding: 60px;
}